fastapi == 0.116.1
pydantic == 2.8.2
redis == 5.2.1
uvicorn[standard] == 0.30.5
pytest == 8.4.1
pytest==8.4.1
httpx==0.28.1
pytest-asyncio == 0.23.7

# Pydantic  (vlaidator restriction, and moduler - rest API is using it )